#commands {
    min-width: 300px;
    flex-grow: 1;
    align-self: flex-start;

    .command {
        position: relative;
        margin: 20px;
    }

    button {
        position: absolute;
        right: 0px;
        bottom: 6px;
        height: 45px;
    }

    .code {
        background-color: #0a0a0a;
        border-radius: 5px;
        padding: 11px;
        width: 100%;
        display: inline-block;
        margin: 5px 0;
        font-family: monospace;
    }
}