.flex-container {
    max-width: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 25px;
  }
  
  .flex-item {
    max-width: 100%;
    margin: 0 15px;
  }
  
  h3 {
    margin: 15px 0 0;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #42b983;
  }