#intro {
    h2 {
      text-align: center;
    }
  
    p {
      padding: 25px;
      padding-bottom: 0;
    }

    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
  
    @media (max-width: 680px) {
      width: 100%;
      padding: 25px 0;
    }  
}